extends layout

block content
  if (!user)
    a(href="/login") Connexion
    br
    a(href="/register") Inscription
  if (user)
    p Vous êtes connecté en tant que #{user.email}
    a(href="/logout") Déconnexion