extends layout

block content
    .container
        h1 Connexion
        br
        form(role='form', action="/login", method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='email', name="email")
            .form-group
                input.form-control(type='password', name="password")
            button.btn.btn-default(type='submit') Valider
    a(href='/')
        button.btn.btn-primary(type="button") Retour