extends layout

block content
    .container
        h1 Inscription
        br
        form(role='form', action="/register", method="post", style='max-width: 300px;')
            table
                tr
                    h3 Renseignements personnels
                tr Nom
                tr
                    .form-group
                        input.form-control(type='text', name="nom")
                tr Prénom
                tr
                    .form-group
                            input.form-control(type='text', name="prenom")
            table
                tr
                    h3 Informations de connexion
                tr Email
                tr
                    .form-group
                            input.form-control(type='email', name="email")
                tr Mot de passe
                tr
                    .form-group
                            input.form-control(type='password', name="password")

            button.btn.btn-default(type='submit') Valider
    a(href='/')
        button.btn.btn-primary(type="button") Retour