extends layout

block content
    .container
        h1 Inscription
        br
        form(role='form', action="/register", method="post", style='max-width: 300px;')
            table
                tr
                    h2 Renseignements personnels
                tr
                    h3 Nom
                tr
                    .form-group
                        input.form-control(type='text', name="nom")
                tr
                    h3 Prénom
                tr
                    .form-group
                        input.form-control(type='text', name="prenom")
                tr
                    h3 Code d'agent immobilier (facultatif)
                tr
                    .form-group
                        input.form-control(type='text', name="code")
            table
                tr
                    h2 Informations de connexion
                tr
                    h3 Email
                tr
                    .form-group
                        input.form-control(type='email', name="email")
                tr
                    h3 Mot de passe
                tr
                    .form-group
                        input.form-control(type='password', name="password")

            button.btn.btn-default(type='submit') Valider
    a(href='/')
        button.btn.btn-primary(type="button") Retour