body {
  padding: 50px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #dee1e2;
  color: #555555;
  display: block;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#content-form {
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0;
  text-align: center;
}

#footer-form {
  background-color: #f6f6f6;
  border-top: 1px solid #dce6f0;
  padding: 2vw;
  text-align: center;
}


button {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 6px;
  margin: 12px;
}

input[type=submit] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 6px;
  margin: 12px;
}

input[type=email], input[type=password], input[type=text], input[type=date], input[type=number], input[type=file] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 6px;
  width: 90%;
  border: 1px solid #dce6f0;
  border-radius: 6px;
  height: fit-content;
  white-space: pre-line;
}
#description{
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 18px;
  text-decoration: none;
  display: inline-block;
  margin: 6px;
  width: 90%;
  border: 1px solid #dce6f0;
  border-radius: 6px;
}

img {
  margin: auto;
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.header {
  text-align: center;
}

.header a{
  padding: 1vw;
}

.titre {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Open Sans",Arial,sans-serif;
}

.annonce {
  background-color: white;
  margin: 6px;
  text-align: center;
  border: solid 1px #94a2b8;
}

.annonce-titre {
  display: inline-table;
  font-size: 25px;
  color: #555555;
}

.annonce-details {
  margin: 6px;
  font-size: 15px;
}

.nomargin {
  margin: 6px;
}

.questions {
  padding-left: 10%;
  padding-right: 10%;
}

.question {
  border: 3px solid;
  padding: 3vw;
  width: 80%;
}

.reponse {
  border: 3px solid #5555;
  border-radius: 18px;
  padding: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 125px;
  width: 125px;
}

:checked+label {
  border-color: #ddd;
}

[type="checkbox"]:checked+label::before {
  content: "✘";
  background-color: red;
  transform: scale(1);
  font: icon;
}

